<div class="toolbar-wrapper" id="desktop-toolbar" >
  <div class="toolbar clearfix">
    <ul class="unstyled" >

      <li class="fr" style="margin-right: 2rem;">
        <a href="/cart" class="cart" title="Shopping Cart">
          <i class="fa fa-shopping-cart" style="font-size: {{settings.toolbar_icon_font_size}}"></i>
          <p id="desktop-cart-count" style="display: inline-block;"> {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }} ({{ cart.total_price | money }})</p>
        </a>
      </li>
<!--
      <li>
        <span class="social-links">
          <a href="{{ settings.facebook_link }}" title="Follow us on Facebook"><span class="shopify-social-icon-facebook-circle"></span></a>
          <a href="{{ settings.twitter_link }}" title="Follow us on Twitter"><span class="shopify-social-icon-twitter-circle"></span></a>
          <a href="{{ settings.instagram_link }}" title="Follow us on Instagram"><span class="shopify-social-icon-instagram-circle"></span></a>
        </span>
      </li> -->

      <li class="fl">
        <a href="/account">
          <i class="fa fa-user" style="font-size: {{settings.toolbar_icon_font_size}}"></i>
          <span> {% if customer %}Your account{% else %}Sign in / Join{% endif %} </span>
        </a>
      </li>

      <li class="search_li">
        <form class="search desktop" action="/search" id="search">
          <p type="submit" alt="Go" class="go desktop">
            <i class="fa fa-search" style="font-size: {{settings.toolbar_icon_font_size}}"></i>
          </p>
          <input style="background: #f9f9f9" type="text" name="q" class="search_box desktop" placeholder="Product search" value="{{search.terms}}" />
          <!-- Don't ask how, but this makes sure only proucts are shown in search results. -->
          <input type="hidden" name="type" value="product" />
          {% include 'search-datalist' %}
        </form>
      </li>
    </ul>
  </div>
</div>

<script>
(function($) {
  $(function() {
    var mouseInSuggestions = false;
    /* Functions */
    function searchFocusOn(){
      $(".desktop-search-overlay").fadeIn();
    }

    function searchFocusOff(){
      if (!mouseInSuggestions) {
        $(".desktop-search-overlay").fadeOut();
      }
    }

    /* Listener events */
		$(".search-results")
        .mouseenter(function() { mouseInSuggestions = true;})
        .mouseleave(function() { mouseInSuggestions = false;});

    //Hide overlay
    searchFocusOff();

    $(".search_box.desktop").on("focusin", function() { searchFocusOn();});
		$(".search_box.desktop").on("focusout", function() { searchFocusOff();});
    $(".search").on("mouseleave", function() {
      if (!$(".search_box.desktop").is(":focus")) {
        searchFocusOff();
      }
    });
  });
})(jQuery);
</script>
