 <div class="results grid product span3 adaptive-grid" id="search_product{{ forloop.index }}" style="width: 45.5%;">
    {% if product.price_min < product.compare_at_price_min %}
      <div class="span2" style="outline: 3px solid red">
      <p style="margin: 0; position: absolute; z-index: 3;  background: red;  color: white;  padding: 5px;">SALE</p>
    {% else %}
      <div class="span2">
    {% endif %}
        {% if product.selected_or_first_available_variant.inventory_quantity < 10 and product.selected_or_first_available_variant.inventory_quantity > 0  and product.selected_or_first_available_variant.inventory_quantity != 1 %}
      <p style="margin: 0; position: absolute; z-index: 2;  background: #5858ff;  color: white;  padding: 5px; {% if product.price_min < product.compare_at_price_min %}  padding-left: 5rem; {% endif %}">ONLY {{ product.selected_or_first_available_variant.inventory_quantity }} LEFT!</p>
    {% endif %}
      <div class="thumbnail">
        <a class="search-link" alt="product" href="{{ product.url }}">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>
      </div>
    </div>
      <div class="search-result">
        <h3 class="product-title" productTitle="{{ product.title }}">{{ product.title | link_to: product.url }}</h3>
        <div class="product-vendor" productVendor="{{ product.vendor}}" style="display: none;"></div>
        <h4 class="product-price price"  productPrice="{{ product.price }}">
        {% if product.available %}
          {% if product.compare_at_price_max > product.price %}
            <del>{{ product.compare_at_price | money }}</del>
          {% endif %}
          {% if product.price_varies %}
              <small><em>from</em></small>
          {% endif %}
          {{ product.price | money }}
          {% else %}
            {{ product.price | money }} Sold Out
        {% endif %}
        </h4>

      {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      {% assign hide_default_title = true %}
      {% endif %}
  </div>  
  </div>
{% cycle '',  '<div class="imHere" style="clear:both;"></div>' %}
