{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}
{% assign results_box_width = '300px' %}
{% assign results_box_image_width = '80px' %}
<script>
$(function() {
  // Current Ajax request.
  var currentAjaxRequest = null;
  // Grabbing all search forms on the page, and adding a .search-results list to each.
  var searchForms = $('form[action="/search"]').css('position','relative').each(function() {
    // Grabbing text input.
    var input = $(this).find('input[name="q"]');
    // Adding a list for showing search results.
    var offSet = input.position().top + input.innerHeight();
    $('<ul class="search-results"></ul>').css( { 'position': 'absolute', 'left': '15px', 'top': offSet } ).appendTo($(this)).hide();    
    // Listening to keyup and change on the text field within these search forms.
    input.attr('autocomplete', 'off').bind('keyup change', function() {
      // What's the search term?
      var term = $(this).val();
      // What's the search form?
      var form = $(this).closest('form');
      // What's the search URL?
      var searchURL = '/search?type=product&q=' + term;
      // What's the search results list?
      var resultsList = form.find('.search-results');
      // If that's a new term and it contains at least 3 characters.
      if (term.length > 6 && term != $(this).attr('data-old-term')) {
        // Saving old query.
        $(this).attr('data-old-term', term);
        
        // Killing any Ajax request that's currently being processed.
        if (currentAjaxRequest != null) currentAjaxRequest.abort();
        // Pulling results.
        currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
          // Reset results.
          resultsList.empty();
          // If we have no results.
          if(data.results_count == 0) {
             resultsList.html('<li><span class="title">No results.</span></li>');
             resultsList.fadeIn(200);

          } else {
            // If we have results.
            resultsList.append('<li style="height: auto; background: #5d5d5d; margin: 0; padding: 0;"><p style="text-align: center; color: white; line-height: 27px; margin: 0;">Products</p></li>');
           
            $.each(data.results, function(index, item) {
              if(index < 4){
              var link = $('<a></a>').attr('href', item.url);
              link.append('<span class="thumbnail"><img src="' + item.thumbnail + '" /></span>');
              link.append('<span class="title">' + item.title + '</span>');
              link.append('<br>');
              link.append('<span class="title price">' + item.price + '</span>');
              link.wrap('<li></li>');
              resultsList.append(link.parent());
              }
            });

            if(data.results_count > 4) {
              resultsList.append('<li style="height: auto; padding: 10px 0;"><span class="title"><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
            }
            resultsList.fadeIn(200);
          }        
        });
      }
    });
  });
  // Clicking outside makes the results disappear.
  $('body').bind('click', function(){
    $('.search-results').hide();
    
  });
  
  
});
</script>


<style>
.search-results {
  list-style-type: none;   
  width: {{ results_box_width }};
  margin: 0;
  padding: 0;
  background: {{ results_box_background_color }};
  border: 1px solid {{ results_box_border_color }};
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  top: 49px;
  z-index: 999999;
}
  
.search-results li {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f6f6f6;
  line-height: 18px;
  overflow: hidden;
}

.search-results li:hover{
  background: #f9f9f9;
}
.search-results li:first-child {
  border-top: none;
}
.search-results .title {
  float: left;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: left;
  width: {{ results_box_width | remove: 'px' | to_number | minus: 120 }}px;
}
  
.search-results .price {
  color: #b7b7b7;
  font-size: 12px;
}
  
.search-results .thumbnail {
  float: left;
  display: block;
  width: {{results_box_image_width}};  
  margin: 3px 0 3px 3px;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
  
@media only screen and (max-width: 797px){
  .search-results {
    top: 40px !important;
    left: 0px !important;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 10px 26px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 	0 10px 26px -8px rgba(0,0,0,0.25);
    box-shadow: 		0 10px 26px -8px rgba(0,0,0,0.25);
  	border: none;
  }
  
  .search-results li {
    display: block;
    width: 100%;
    padding: 6px;
  }
}
</style>