 <div class="search-result-container" id="search_product{{ forloop.index }}" data-id="{{ product.id }}" data-price="{{ product.price }}" data-title="{{ product.title }}" data-vendor="{{ product.vendor}}">
      <div class="search-result">
        <div class="search-result-thumbnail" style="{% if product.price_min < product.compare_at_price_min %}outline: 3px solid red{% endif %}">
          {% if product.price_min < product.compare_at_price_min %}
            <p style="margin: 0; position: absolute; z-index: 3;  background: red;  color: white;  padding: 5px;">SALE</p>
          {% endif %}
          <a alt="product" href="{{ product.url }}">
            <img src="{{ product.featured_image | product_img_url: '188x131', crop: 'center', format: 'pjpg' }}" alt="{{ product.title | escape  }}" />
          </a>
        </div>
        <div class="search-result-info">
        <h3 class="product-title fl">{{ product.title | link_to: product.url }}</h3>
        <h3 class="product-vendor fr"> <a href="/collections/vendors?q={{product.vendor}}">{{ product.vendor }}</a></h3>
        <h4 class="product-price price">
        {% if product.available %}
          {% if product.compare_at_price_max > product.price %}
            <del>{{ product.compare_at_price | money }}</del>
          {% endif %}
          {% if product.price_varies %}
              <small><em>from</em></small>
          {% endif %}
          {{ product.price | money }}
          {% else %}
            {{ product.price | money }} Sold Out
        {% endif %}
      </h4>

      {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      {% assign hide_default_title = true %}
      {% endif %}

        <form  id="add-product-form" class="add-product-form" action="/cart/add" method="post">
          <div class="{% if product.metafields.product_customizer.size > 1  %} product-options {% endif %}">
          <div class="select "{% if hide_default_title %} style="display:none"{% endif %}>
            <select id="product-select" name="id" >
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>
          {% if product.metafields.product_customizer.size > 0 %}
            {% include 'product-customizer' %}
          {% endif %}
          </div>
          <div class="buttons" style="{% if product.metafields.product_customizer.size > 0 %}padding: 1rem; clear: both;{% else %}padding: 1rem 0; clear: right;{% endif %}">
          {% if product.available %}
            <input type="submit" class="search-add" name="add" value="Add to cart"/>
            <input type="number" class="search-qty" name="quantity" value="1"  min="1"/>
          {% else %}
            <input type="submit" class="search-add search-add-soldout" name="add" disabled="disabled" value="Sold out"/>
          {% endif %}
          </div>

           <a href="{{ product.url }}">More Details →</a>
        </form>
      </div>
      <hr class="divider" style="clear:both;" />
  </div>
  </div>
