<!doctype html>
<!-- Maintained by Lewis Johnson @ Loula & Deer.-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
 <!-- start social profiles (https://developers.google.com/structured-data/customize/social-profiles) -->
 <!-- Internet Explorer and Microsoft Edge have an issue with scripts being loading asynchronously, please avoid.-->
<script type="application/ld+json">
 {
 "@context" : "http://schema.org",
 "@type" : "LocalBusiness",
 "name" : "Loula and Deer",
 "url" : "https://www.loulaanddeer.co.uk/",
 "email": "info@loulaanddeer.co.uk",
 "telephone" : "01273726138",
 "logo": "https://cdn.shopify.com/s/files/1/0398/6929/t/5/assets/logo.png",
 "image": "https://cdn.shopify.com/s/files/1/0398/6929/t/5/assets/logo.png",
 "priceRange": "££",
 "currenciesAccepted": "GBP",
 "paymentAccepted": "Cash, Credit Card, Debit Card, Contactless, Apple Pay, Android Pay",
 "address": {
    "@type": "PostalAddress",
    "addressCountry": "GBR",
    "addressLocality": "Brighton",
    "addressRegion": "East Sussex",
    "postalCode": "BN1 1HJ",
    "streetAddress": "5 Brighton Place"
  },
 "sameAs" : [
 	"https://www.facebook.com/Loula-and-Deer-170682726287660/",
 	"https://twitter.com/loulaanddeer",
 	"https://www.instagram.com/loulaanddeerbrighton/"
    ]
 }
 </script>
 <!-- end social profiles -->

<head>
<meta name="google-site-verification" content="BDt6zg4W_YgDvPXbxNRyTZ9CqADLQoZvqULXSu-Vx_8" />
  <meta name="msvalidate.01" content="C8BDDE326B27793994EACFDF0A558030" />
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>{{ page_title }}
    {% if template != 'index' %} - {{ shop.name }} {% else %} - Baby gifts and toys {% endif %}
    {% if template == 'search' %}Search{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  <meta name="keywords" content="
  baby, baby toys, children's toys, children's clothing, children's accessories, children,
  personalised gifts, personalised,
  ballerina, ballerina music box, music box,
  soft toys, wooden toys, puppets, hand puppets, mouse toys, spinning top, toys, train,
  brighton, the lanes,
  maileg, petit bateau, I love gorgeous, Wild and gorgeous" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-cards' %}

  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {% if settings.google_header_font != "none" %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.google_header_font }}:300,400,700">
  {% endif %}
  {% if settings.google_nav_font != "none" %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.google_nav_font }}:300,400,700">
  {% endif %}
  <!-- <script src="{{ 'html5shiv.js' | asset_url}}"></script> -->
  {{ content_for_header }}

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


  <script src="{{ 'option_selection.js' | shopify_asset_url}}" async="async"></script>
  <script src="{{ 'api.jquery.js' | shopify_asset_url}}"></script>

  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url}}" async="async"></script>
  <script src="{{ 'customer_area.js' | shopify_asset_url}}" async="async"></script>
  {% endif %}
  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
</head>
<body>
	<div class="content-overlay"></div>
    <div class="desktop-search-overlay"></div>
	<!-- Desktop toolbar -->
	{% include 'desktop-toolbar' %}
	<!-- Mobile toolbar -->
	{% include 'mobile-toolbar' %}

	<!-- Begin Mobile Nav -->
	<div class="row mobile-wrapper">
		<nav class="mobile clearfix">
			{% include 'mobile-menu' %}
		</nav>
	</div>
	<!-- End Mobile Nav -->

	<!-- Begin wrapper -->
	<div id="transparency" class="wrapper">
		<div class="bigpadding bigborder" id="header">
			<div class="border-bottom">
				<div class="logo">
					<a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
					{% if template == 'index' %}
						<h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
					{% endif %}
				</div>
				<section id="nav">
					<nav class="main">
						{% include 'site-nav' %}
					</nav>
				</section>
			</div>
		</div>
		<!-- Begin content-->
		<section id="content">
			{{ content_for_layout }}
		</section>
		<!-- End content-->
	</div>
	<!-- End wrapper -->
	<!-- Begin footer -->
	{% include 'footer' %}
	<!-- End footer -->
{% if settings.display_slideshow %}
	<script src="{{ 'jquery.flexslider-min.js' | asset_url}}"></script>
{% endif %}
{% if settings.enable_product_image_zoom %}
	<script src="{{ 'jquery.zoom.js' | asset_url}}"></script>
{% endif %}
<script src="{{ 'jquery.fancybox.js' | asset_url}}"></script>
<script src="{{ 'scripts.js' | asset_url}}"></script>


{% if template contains 'product' %}
	<script>
	var selectCallback = function(variant, selector) {
	if (variant) {
		if (variant.featured_image) {
			var newImage = variant.featured_image;
			var mainImageEl = $('.image.featured img')[0];
			Shopify.Image.switchImage(newImage, mainImageEl, MinimalTheme.switchImage);
		}
		if (variant.price < variant.compare_at_price) {
			jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
		} else {
			jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
		}
		if (variant.available) {
			jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled').val('Add to cart');
		} else {
			//Coming soon
			if (variant.inventory_quantity == -100) {
				jQuery('#add-to-cart').val('Coming soon').addClass('disabled').attr('disabled', 'disabled');
			} else {
				jQuery('#add-to-cart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
			}
		}
	} else {
		jQuery('#add-to-cart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
  }};
	jQuery(document).ready(function ($) {
		var optionSelectors = new Shopify.OptionSelectors("product-select", {
			product: {{product | json}},
			onVariantSelected: selectCallback,
			enableHistoryState: true
		});
		// Add label if only one product option and it isn't 'Title'.
		{% if product.options.size == 1 and product.options.first != 'Title' %}
			$('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
		{% endif %}
	});
	Shopify.Image.preload({{ product.images | json }}, 'master');
	Shopify.Image.preload({{ product.images | json }}, '1024x1024');
	</script>
{% endif %}
{% include 'ajax' %}
{% include 'search-autocomplete' %}
</body>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false" ></script>
<script type="text/javascript" >require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"e8fd710d43f0b4800046d6813","lid":"6dfaf55ebd"}) })</script>
</html>
