{% include 'cart-handler' %}

<noscript>
  {% include 'cartnojs' %}
</noscript>

{% if cart.item_count == 0 %}
  <div class="row" style="background: white">
    <div class="expanded-message">
      <h2>Your cart is empty</h2>
      <h3>You might like these items.</h3>
    </div>
    <div class="cart-featured">
      {% for product in collections['new-in'].products limit: 12 %}
        {% include 'product-loop' %}
      {% endfor %}
    </div>
  </div>
{% else %}

  <div id="cart" style="margin-top: -15px;" class="cartJS">
    <div class="row">
      <div class="cart-t">
        <form action="/cart" method="post" id="cartform">
          <ul class="cart-list" style="border-bottom: 15px solid {{ settings.shop_bg_color }};">
            <li class="cart-item" style="height: 35px">
              <h2>YOUR CART</h2>
            </li>
            {% for item in cart.items %}
              <li class="cart-item" id="cart-item_{{ forloop.index }}" expanded="false">
                <div class="cart-item-inner">
                  <a class="image" href="{{ item.url }}">
                      <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
                  </a>
                  <i class="fa fa-ellipsis-v" aria-hidden="true" style="font-size: 25px;float: right;width: 5rem;text-align: right;"></i>
                  <a class="item" href="{{ item.url }}">

                    <p id="linetitle_{{ forloop.index }}">{% if item.quantity > 1 %}
                    {{ item.product.title }} | x{{ item.quantity }}
                    {% else %}
                    {{ item.product.title }}
                    {% endif %}
                    </p>
                  </a>

                  <p class="price" id="lineprice_{{ forloop.index }}"> {{ item.line_price | money }}</p>
                  {% unless item.variant.title contains 'Default' %}
                  <p class="variant-title">{{ item.variant.title }}</p>
                  {% endunless %}
                </div>
                <ul class="cart-item-addtional-info">
                {% assign property_size = item.properties | size %}
                  {% if property_size > 1 %}
                  <li>
                    <h3 style="margin: 5px 0;">Custom Order Info</h3>
                    {% include 'product_customizer_cart' %}
                  </li>
                  {% endif %}
                  
                  <!-- Quantity Input -->
                  <li>
                    <p>Quantity</p>
                    <input type="button" size="2" class="cart__quantity_dec" value="-" data-line="{{ forloop.index }}">
                    <input type="number" size="2" class="cart__quantity" value="{{ item.quantity }}" min="1" data-line="{{ forloop.index }}">
                    <input type="button" size="2" class="cart__quantity_inc" value="+" data-line="{{ forloop.index }}">

                  </li>
                  <!-- Remove Item -->
                  <li><a href="/cart/change?line={{ forloop.index }}&quantity=0" data-line="{{ forloop.index }}">Remove</a></li>
                </ul>
              </li>
            {% endfor %}
            <li class="cart-item" style="height: 35px">
              <h3 class="subtotal-preview" style="text-align: right; margin: 0;">SUBTOTAL &nbsp; &nbsp; &nbsp; {{cart.total_price | money}}</h3>
              <p style="text-align: right; font-size: 10px;">All of our items come gift wrapped.</p>
            </li>
          </ul>
          
          <div class="buttons clearfix">
            <h2>TOTAL</h2>
            <div class="cart-info">
              <p style="text-align: left; width: 50%; float:left;">Subtotal</p>
              <p class="subtotal" style="text-align: right; width: 50%; float:left;">{{cart.total_price | money}}</p>
              <p style="text-align: left; width: 50%; float:left;">Delivery</p>
              <a style="text-align: right; width: 50%; float:left;" href="https://www.loulaanddeer.co.uk/pages/delivery">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </div>
            <div class="cart-buttons">

              <input type="submit" class="btn" name="checkout" value="Checkout" />
              <!--             <input type="submit" id="update-cart" class="btn" name="update" value="Update" /> -->
              {{ content_for_additional_checkout_buttons }}
            </div>
            <div class="cart-addtional-info" style="font-size:12px ">
              <p class="tc">Order Notes</p>
              <textarea id="note" name="note" maxlength="400" style="resize: vertical; max-height: 167px;">{{ cart.note }}</textarea>
              <div>
                <i style="font-size: 12px; line-height: 18px; margin-right: 8px;" class="fa fa-question-circle fl" aria-hidden="true"></i>
                <p style="font-size: 12px;" >Have a discount code? Add it in the next step.</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
    
    {% if cart.item_count != 0 %}
    <div class="row">
      <div class="cart-t">
          <ul class="cart-list" style="max-width: 100%;">
            <li class="cart-item" style="height: 35px">
              <h2>SUGGESTED ITEMS</h2>
            </li>
            <div class="cart-featured">
              {% for product in collections['best-sellers'].products limit: 6 %}
              {% include 'product-loop' %}
              {% endfor %}
            </div>
        </ul>
      </div>
    </div>
    {% endif %}

  <!-- End cart -->
</div>