<!-- Banner Message

<div style="
    background: #ad0000;
    padding: 1rem;
    position: relative;
    top: 0;
    left: 0;
                margin: 0 0 1rem 0;
    text-align: center;"><a href="/pages/contact-us" style="color: white;">Special store hours apply until the 6th of January. Click for more.</a></div> -->


<!-- Warning Banner Message -->
<!--
<div style="
    background: rgb(93, 93, 93);
    padding: 1rem;
    position: relative;
    top: 0;
    left: 0;
                margin: 0 0 1rem 0;
    text-align: center;"><a href="/pages/contact-us" style="color: white;">Some products may be unavailable while we upgrade our system.</a></div>
-->
<!-- Begin slider -->

<div class="homepage-layout">
  <div class="homepage-layout-full flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_img_url:'original', format: 'pjpeg' }}" alt="{{ settings[alt] | escape }}" />
              <h2>{{ settings[alt] }}</h2>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>

<!-- End slider -->

{% if settings.show_fp_images %}
<!-- Begin promo images -->
<div class="row" id="fp-images">
  {% for i in (1..3) %}
  {% capture fp_image %}fp_image_{{ i }}.jpg{% endcapture %}
  {% capture fp_link %}fp_image_{{ i }}_link{% endcapture %}
  {% capture fp_alt %}fp_image_{{ i }}_alt{% endcapture %}
  <div class="homepage-layout-3rd">
    <a href="{{ settings[fp_link] }}">
      <img src="{{ fp_image | asset_img_url:'original', format: 'pjpeg' }}" alt="{{ settings[fp_alt] | escape }}" />
      <h3>{{ settings[fp_alt] }}</h3>
    </a>
  </div>
  {% endfor %}
</div>
<!-- End promo images -->
{% endif %}

<div class="row homepage-promotion">
  <div style="padding-left: 1rem">
    <h2 style="margin-bottom: 5px">{{settings.fp_section_1_header}}</h2>
    <h3>{{settings.fp_section_1_subheader}}</h3>
  </div>
  <div class="row" id="fp-images">
    {% for i in (1..3) %}
    {% capture section_product %}fp_section_1_id_{{ i }}{% endcapture %}
    <div class="homepage-layout-3rd">
      <a href="{{ all_products[settings[section_product]].url }}">
        <img src="{{ all_products[settings[section_product]].featured_image | product_img_url: '640x360' , crop: 'center', format: 'pjpeg' }}" alt="{{ all_products[settings[section_product]].title }}" />
        <h3>{{ all_products[settings[section_product]].title }}</h3>
      </a>
    </div>
    {% endfor %}
	</div>
</div>

<div class="row homepage-promotion">
  <div style="padding-left: 1rem">
    <h2 style="margin-bottom: 5px">Personalised Jewellery</h2>
    <h3>For that extra-special occasion.</h3>
  </div>
  <div class="row" id="fp-images">
    <div class="homepage-layout-full">
      <a href="https://loulaanddeer.co.uk/pages/personalised-necklaces">
        <img id="banner-mobile" src="{{ 'Christening_Gifts_Banner_Mobile.png' | asset_img_url:'original', format: 'pjpeg'}}" alt="Personalised Jewellery Promotion Image">
        <img id="banner-desktop" src="{{ 'Christening_Gifts_Banner_Desktop.png' | asset_img_url:'original', format: 'pjpeg'}}" alt="Personalised Jewellery Promotion Image">
      </a>
    </div>
	</div>
</div>

<style>
@-webkit-keyframes shine {
  0%    {filter: brightness(100%);}
  50%   {filter: brightness(105%);}
  100%  {filter: brightness(100%);}
}

#banner-desktop, #banner-mobile{
  animation-name: shine;
  animation-duration: 3s;
  animation-iteration-count: 9999;
}

@media screen and (max-width: 796px) {#banner-desktop{display: none;}}

@media screen and (min-width: 797px) {#banner-mobile{display: none;}}
</style>
