{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign hide_default_title = false %}
{% assign variant = product.selected_or_first_available_variant %}
{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    {% assign hide_default_title = true %}
{% endif %}

<div class="product-page-layout {{ product.handle }}" itemscope itemtype="http://schema.org/Product">

    {{ 'product.min.js' | asset_url | script_tag }}

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}"/>
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}"/>

    <div class="row">

        <!-- Begin breadcrumb -->
        <div class="product-page-breadcumb">
            <div class="breadcrumb clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}"
                                                                                    title="{{ shop.name | escape }}"
                                                                                    itemprop="url"><span
                                itemprop="title">Home</span></a></span>
                <span class="arrow-space">&#62;</span>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
              <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url">
              <span itemprop="title">{{ collection.title }}</span>
            </a>
          {% else %}
              <a href="/collections/all" title="All Products" itemprop="url">
              <span itemprop="title">Products</span>
            </a>
          {% endif %}
        </span>
                <span class="arrow-space">&#62;</span>
                <strong>{{ product.title }}</strong>
            </div>
        </div>
        <!-- End breadcrumb -->
        <!-- Begin product photos -->
        <div class="product-page-half">

            <!-- Begin featured image -->
            <div class="product-thumbnail-featured">
                {% if settings.enable_product_image_zoom %}
                    <img src="{{ featured_image | img_url: '1024x1024', format: 'pjpg' }}"
                         alt="{{ featured_image.alt | escape }}"/>
                {% else %}
                    <a href="{{ featured_image | img_url: 'master' }}" class="fancy" id="placeholder">
                        <img src="{{ featured_image | img_url: '1024x1024', format: 'pjpg' }}"
                             alt="{{ featured_image.alt | escape }}"/>
                    </a>
                {% endif %}
            </div>
            <!-- End product image -->

            {% if product.images.size > 1 %}
                <!-- Begin thumbnails -->
                {% for image in product.images %}
                    <div class="product-thumbnail">
                        <a href="{{ image | img_url: '1024x1024' }}">
                            <img src="{{ image | img_url: '150x100' , crop: 'center' , format: 'pjpg' }}"
                                 alt="{{ image.alt | escape }}"/>
                        </a>
                    </div>
                {% endfor %}
                <!-- End thumbnails -->
            {% endif %}

        </div>
        <!-- End product photos -->
        <!-- Begin description -->

        <div class="product-page-half">
            <div style="border-bottom: 3px solid #f9f9f9;">
                <h1 class="title" itemprop="name">{{ product.title }}</h1>
                <h3 class="price" id="price-preview">
                    <span>{{ variant.price | money }}</span>{% if variant.price < variant.compare_at_price %}
                    <del>{{ variant.compare_at_price | money }}</del>{% endif %}
                    <h3 class="title fr"><a href="/collections/vendors?q={{ product.vendor }}">{{ product.vendor }}</a>
                    </h3>
                </h3>
            </div>

            <!-- Begin product options -->
            <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                {% include 'product-customizer' %}
                <div class="product-information-layout">
                    {% if hide_default_title %}
                    <div style="display:none">
                        {% else %}
                        <div class="product-customisation-option">
                            <label for="product-select">Style</label>
                            {% endif %}
                            <select id="product-select" name="id" style="display:none">
                                {% for variant in product.variants %}
                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                            value="{{ variant.id }}">{{ variant.title }}
                                        - {{ variant.price | money }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="buy-container">
                            <div>
                                <label for="quantity">Quantity</label>
                                <input id="quantity" type="number" name="quantity" value="1" min="1"
                                       class="tc item-quantity"/>
                            </div>
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart"/>
                        </div>
                        <!-- End product options -->
                    </div>
            </form>
            <!-- Social section -->
            <div style="clear: both; height: 61px">
                <h3 style="border-bottom: 3px solid #F9F9F9;">Share</h3>
                {% if settings.show_social %}
                    <div class="social">
                        {% include 'like' %}
                    </div>
                {% endif %}
            </div>


        </div>

        <div class="product-page-full more-information">
            <div class="tab-links">
                <button class="tab-link" data-tab="description" id="defaultTab">Description</button>
                <button class="tab-link" data-tab="reviews">Reviews</button>
                <button class="tab-link" data-tab="delivery">Shipping &amp; Returns</button>
            </div>

            <ul>
                <li class="tab-content" id="description">
                    <h3 style="border-bottom: 3px solid #F9F9F9;">More about {{ product.title }} </h3>
                    <div class="description">
                        {{ product.description }}
                    </div>
                </li>
                <li class="tab-content" id="reviews">
                    <div id="shopify-product-reviews" data-id="{{ product.id }}">
                        {{ product.metafields.spr.reviews }}
                    </div>
                </li>
                <li class="tab-content" id="delivery">
                    {{ pages.delivery.content }}
                </li>
            </ul>
        </div>
    </div>

    <!-- Begin related product -->
    {% if settings.show_related_products %}
        {% include 'related-products' %}
    {% endif %}
</div>
