<div id="product" class="{{ product.handle }}" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />

  <div class="row clearfix">

    <!-- Begin breadcrumb -->
    <div class="span12">
      <div class="breadcrumb clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url">
              <span itemprop="title">{{ collection.title }}</span>
            </a>
          {% else %}
            <a href="/collections/all" title="All Products" itemprop="url">
              <span itemprop="title">Products</span>
            </a>
          {% endif %}
        </span>
        <span class="arrow-space">&#62;</span>
        <strong>{{ product.title }}</strong>
      </div>
    </div>
    <!-- End breadcrumb -->
    <!-- Begin product photos -->
    <div class="{% if product.images.size == 1 or settings.thumbnails_position == 'below' %}span5{% else %}span5{% endif %}">

      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <!-- Begin featured image -->
      <div class="image featured">
        {% if settings.enable_product_image_zoom %}
        <img src="{{ featured_image | img_url: '1024x1024', format: 'pjpg'}}" alt="{{ featured_image.alt | escape }}" />
        {% else %}
        <a href="{{ featured_image | img_url: 'master' }}" class="fancy" id="placeholder">
          <img src="{{ featured_image | img_url: '1024x1024', format: 'pjpg'}}" alt="{{ featured_image.alt | escape }}" />
        </a>
        {% endif %}
      </div>
      <!-- End product image -->

      {% if product.images.size > 1 and settings.thumbnails_position == 'below' %}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix">
        {% for image in product.images %}
        <div class="image span1{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | img_url: '1024x1024' }}">
            <img src="{{ image | img_url: '150x100' , crop: 'center' , format: 'pjpg'}}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- End thumbnails -->
      <style>
      .thumbs .image { margin: 15px 0 }
      .thumbs .image { padding: 0 15px }
      .thumbs .last-in-row { padding-right: 0 }
      </style>
      {% endif %}

    </div>
    <!-- End product photos -->


    <!-- Begin description -->
    <div class="span5">
    <div>
      <h1 class="title" itemprop="name">{{ product.title }}</h1>
      </div>

      <div class="purchase" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="border-bottom: 3px solid {{  settings.shop_bg_color }}; height: 40px;">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
        <link itemprop="itemCondition" href="http://schema.org/NewCondition">
        {% assign variant = product.selected_or_first_available_variant %}
        <h3 class="price fl" id="price-preview" style="color: #a1a1a1">
          <span>{{ variant.price | money }}</span>{% if variant.price < variant.compare_at_price %} <del>{{ variant.compare_at_price | money }}</del>{% endif %}
                <h3 class="title fr"><a href="/collections/vendors?q={{product.vendor}}">{{ product.vendor }}</a></h3>
          <span style="display: none" itemprop="price">{{ variant.price | money_without_currency }}</span>
        </h3>
      </div>
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <!-- Begin product options -->
      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
        {% include 'product-customizer' %}
        <div class="product-information-layout">
          <div class="select clearfix choice"{% if hide_default_title %} style="display:none"{% endif %}>
          {% if hide_default_title == false %}
          <label for="product-select">Style</label>
          {% endif %}
            <select id="product-select" name="id" style="display:none">
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          {% if settings.display_quantity_dropdown and product.available %}
          <div class="selector-wrapper choice">
            <label for="quantity">Quantity</label>
            <input id="quantity" type="number" name="quantity" value="1"  min="1" class="tc item-quantity" />
          </div>
          {% endif %}

          <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %} choice" style="width: 100%; clear: both; margin: 0;">
            <div class="purchase">
              <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart" />
            </div>
          </div>
      <!-- End product options -->

      </form>

      <!-- Begin description -->
      <div class="description">
        {% if product.description != "" %}
          <h3 style="border-bottom: 3px solid #F9F9F9;">More about {{ product.title }} </h3>
        {{ product.description }}
        {% endif %}

        <p class="fl"><a href="http://loulaanddeer.co.uk/pages/returns-policy">Returns Policy</a></p>
        <p class="fl">&nbsp; | &nbsp;</p>
        <p class="fl"><a href="http://loulaanddeer.co.uk/pages/delivery">Shipping</a></p>
        <!-- End description -->
      </div>

      <a href="#" style="color:{{ settings.link_color }}" id="expand-description" onclick="return false;">Show more</a>

    </div>

    <!-- Social section -->
    <div class="" style="clear: both; height: 61px">
      <h3 style="border-bottom: 3px solid #F9F9F9;">Share</h3>
      {% if settings.show_social %}
      <div class="social">
        {% include 'like' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>


  <!-- Begin related product -->
  {% if settings.show_related_products %}
    {% include 'related-products' %}
  {% endif %}

  <script>
  (function($) {
    $(function() {

      var el = $(".description"),
      curHeight = el.height(),
      autoHeight = el.css('height', 'auto').height();
      el.height("150px");
      if(autoHeight <= 150){
        $("#expand-description").remove();
      }

      $('label[for*="product-select"]').remove();
      $("#expand-description").on("click", function() {
         el.height(curHeight).animate({height: autoHeight}, 600);
        $("#expand-description").remove();
      });
    });
  })(jQuery);
</script>
