<style>
{% assign gradient_outer_colour = '#f9f9f9' %}
{% assign gradient_inner_colour = '#eeeeee' %}
  hr.divider{
    background: $shop-bg-colour;
    clear: both;
    margin: 19px -35px 10px 0px;
    height: 1px;
    /* Permalink - use to edit the gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,eeeeee+30,eeeeee+70,f9f9f9+100 */
    background: {{ gradient_inner_colour}}; /* Old browsers, fall-back colour */
    background: -moz-linear-gradient(left,  {{ gradient_outer_colour}} 0%, {{ gradient_inner_colour }} 30%, {{ gradient_inner_colour }} 70%, {{ gradient_outer_colour}} 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  {{ gradient_outer_colour}} 0%,{{ gradient_inner_colour }} 30%,{{ gradient_inner_colour }} 70%,{{ gradient_outer_colour}} 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  {{ gradient_outer_colour}} 0%,{{ gradient_inner_colour }} 30%,{{ gradient_inner_colour }} 70%,{{ gradient_outer_colour}} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ gradient_outer_colour}}', endColorstr='{{ gradient_outer_colour}}',GradientType=1 ); /* IE6-9 */

  }

  .add-product-form{
    margin-left: 224px;
  }

  .product-options{
    margin-bottom: 0px !important;
  }


  @media only screen and (min-width: 797px){
    .span1{
      width: 20% !important;
      max-width: 160px;
    }
    .span11{width: 40% !important;}

  }

  #content{
    background: $shop-bg-colour !important;
  }
</style>

<div class="filter-underlay"></div>

{% include 'search-handler' %}

<div id="search" >
  {% if search.performed %}
  {% paginate search.results by 9999 %}

  {% if search.results == empty%}

  <div class="row" style="background: white">
    <div class="expanded-message">
      <h2>No search results for <strong>"{{ search.terms }}"</strong>.</h2>
      <h3>Try searching for something else.</h3>
      <h4>Suggested products</h4>
    </div>
    <div class="cart-featured">
      {% for product in collections['new-in'].products limit: 6 %}
        {% include 'product-loop' %}
      {% endfor %}
    </div>
  {% else %}


  <div class="filter-column" id="filter-column" style="background: white">
      <input id="close-filter-button" type="button" class="search-add" value="CLOSE" style="float: right;">
  <h2>Filter</h2>
    {% comment %}
    <div>
      <h3>Sort</h3>
      <select class="sort-by">
        <option value="manual">Relevance</option>
        <option value="price-descending">Price: High to Low</option>
        <option value="price-ascending">Price: Low to High</option>
        <option value="title-ascending">Alphabetical (A-Z)</option>
        <option value="title-descending">Alphabetical (Z-A)</option>
        <option value="created-ascending">Oldest to Newest</option>
        <option value="created-descending">Newest to Oldest</option>
        <option value="best-selling">Best Selling</option>
      </select>
    </div>
    {% endcomment %}
    <div>
        <h3>Max Price</h3>
        <p id="maxPriceText"></p>
        <input style="border:none; box-shadow: none;" type="range" id="maxPriceInput" step="10">
    </div>
    <ul id="vendor-filter" class="checkboxes">
      <h3>Brand</h3>
    </ul>
  </div>

  <div class="search row" style="background: white">
  <h1>Search Results</h1>
  <h4 id="search-conditions" style="margin: 0; padding: 5px 20px 20px 20px;">Showing {{search.results_count}} results for "{{ search.terms }}"</h4>
    <input id="open-filter-button" type="button" class="search-add" value="FILTER">
    <!-- Begin results -->

  {% for product in search.results %}
      {% include 'product-list-loop' %}
  {% endfor %}

  <!-- End results -->

  {% include 'pagination' %}

  {% endif %}
  {% endpaginate %}
  {% endif %}
</div> <!-- /#search -->
